body {
    text-align: center;
    /* background-color: #a2d2ff; */
    background: linear-gradient(#050505, #e9e3e5);
    font-family: 'Happy Monkey', cursive;
    color: #3909e6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #3909e6;
}

#bday-age {
    background: #da7f08;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #da7f08;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    background-size: cover;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    /* background: linear-gradient(red, blue); */
    /* background: linear-gradient(lightskyblue, white); */
    background-image: url("images/giphy.gif");
    background-size: cover;
}                                                             



#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}
                                                         
#gift-img-hot:hover {
    background-image: url("images/Uhi.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}


#gift-img-badass:hover {
    background-image: url("images/jim\ carey.gif");
}

#gift-img-cheers {
    height: 200px;
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}                                     
                                                          

#footer {                                     
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: rgb(252, 14, 14);
}



/* ######################################## */

/* div:hover {
    background-image: url("eyes.jpg");
}

div:hover {
    background: #ba181b;
    font-size: 40px;
} */

/* body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
    background-image: url("images/badass.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
} */